<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static  'css/sidebar.css'%}">
    <link rel="stylesheet" href="{% static 'css/intern.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Hello, world!</title>
</head>

<body>
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">Admin Panel</a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">Süleyman Barış
                            <strong>Eser</strong>
                        </span>
                        <span class="user-role">Administrator</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>
                    </div>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search...">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>

                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-home"></i>
                                <span>ANA SAYFA</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">General</a>
                                    </li>
                                    <li>
                                        <a href="#">Panels</a>
                                    </li>
                                    <li>
                                        <a href="#">Tables</a>
                                    </li>
                                    <li>
                                        <a href="#">Icons</a>
                                    </li>
                                    <li>
                                        <a href="#">Forms</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-user"></i>
                                <span>Students</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Dashboard 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Dashboard 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Dashboard 3</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-university"></i>
                                <span>Interns</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Products

                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Orders</a>
                                    </li>
                                    <li>
                                        <a href="#">Credit cart</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-chart-line"></i>
                                <span>VERI-2</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Pie chart</a>
                                    </li>
                                    <li>
                                        <a href="#">Line chart</a>
                                    </li>
                                    <li>
                                        <a href="#">Bar chart</a>
                                    </li>
                                    <li>
                                        <a href="#">Histogram</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-globe"></i>
                                <span>Maps</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Google maps</a>
                                    </li>
                                    <li>
                                        <a href="#">Open street map</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header-menu">
                            <span>Extra</span>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-book"></i>
                                <span>Documentation</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i>
                                <span>2018</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i>
                                <span>2019</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-warning notification">3</span>
                </a>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="badge badge-pill badge-success notification">7</span>
                </a>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a href="#">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                <div class="flexed-container">
                    <h2 class="centered">Yeni Staj</h2>
                    <form action="">
                        <div class="form-element">
                            <label for="Isim">İsim</label>
                            <input type="text" name="Isim">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Soy İsim</label>
                            <input type="text" name="Soyisim">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Kurum</label>
                            <input type="text" name="Kurum">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Staj Süresi</label>
                            <input type="number" name="Stajsuresi">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Başlangıç Tarihi</label>
                            <input type="text" name="Baslangictarih" data-toggle="datepicker">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Bitiş Tarihi</label>
                            <input type="text" name="Bitistarih" data-toggle="datepicker">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Hizmet Alanı</label>
                            <input type="text" name="Hizmetalanı">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Firma Telefonu</label>
                            <input type="text" name="Telefon">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Firma İlgili Kişi</label>
                            <input type="text" name="Ilgilikisi">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Eposta adresi</label>
                            <input type="email" name="Eposta">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Çalışan Mühendis Adresi</label>
                            <input type="number" name="Muhendissayisi">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Staj Tipi</label>
                            <input type="text" name="stajtipi">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Yurt İçi</label>
                            <input type="text" name="yurt">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Stajın yapıldığı Yer</label>
                            <input type="text" name="sehir">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Devam Notu</label>
                            <input type="number" name="Devamnotu" min="0" max="100">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Gayret Notu</label>
                            <input type="number" name="Gayretnotu" min="0" max="100">
                        </div>
                        <div class="form-element">
                            <label for="Isim">İşi Zamanında ve Tam Yapma Notu</label>
                            <input type="number" name="Tamnotu" min="0" max="100">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Amirine Karşı Tutumu Notu</label>
                            <input type="number" name="Amirnotu" min="0" max="100">
                        </div>
                        <div class="form-element">
                            <label for="Isim">İşçi ve Arkadaşlarına Karşı Tutumu Notu</label>
                            <input type="number" name="Iscinotu" min="0" max="100">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Staj Formu</label>
                            <input type="file" name="diger">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Firma Değerlendirme</label>
                            <input type="number" name="FirmaDegerlendirme" min="0" max="100">
                        </div>
                        <div class="form-element">
                            <label for="Isim">Firma Yorumu</label>
                            <textarea name="Firmayorumu" id="" cols="30" rows="10"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <!-- page-content" -->
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        jQuery(function($) {
            $('.sidebar-dropdown a').click(function() {
                $(this).next('.sidebar-submenu').slideToggle(200);
                $(this).parent().toggleClass('active');
            });
            $("#close-sidebar").click(function() {
                $(".page-wrapper").removeClass("toggled");
            });
            $("#show-sidebar").click(function() {
                $(".page-wrapper").addClass("toggled");
            });

            $('input,textarea').focus(function() {
                var value = $(this).val();
                if (value.length == 0) {
                    $(this).prev('label').css({
                        'transform': 'translate(0,90%)',
                        'z-index': 101
                    });
                }
            });
            $('input,textarea').focusout(function() {
                var value = $(this).val();
                if (value.length == 0) {
                    $(this).prev('label').css({
                        'transform': 'translate(0,180%)',
                        'z-index': 99
                    });
                }
            });


            $('input[type=number]').on('keydown', (event) => {
                let key = event.key;
                if (key == '-') {
                    event.preventDefault();
                }
                let value = event.target.value;
                let new_value = Number(value + key);
                let max = Number(event.target.max);
                if (new_value > max) {
                    event.preventDefault();
                }
            });
            $('[data-toggle="datepicker"]').datepicker();
        });

    </script>
</body>

</html>
